.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_public,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_private, 
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_add_custom_tab {
    display: inline-block;
    padding-right: 10px;
    background-color: #ededed !important;
    border: thin solid #cacaca;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: visible;
    font-weight: bold;
}
.oe_searchview_custom_public > span, .oe_searchview_custom_private > span, .oe_searchview_add_custom_tab > span {
    padding: 5px;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_header_row > td {
    line-height: 30px !important;
}
.oe_header_row.oe_custom_filter_tabs .oe_searchview_custom_tabs_div {
    border-bottom: thin solid #cacaca;
    margin-top: 4px;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_add_custom_tab {
    margin-top: 4px;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_public.oe_active_tab,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_private.oe_active_tab,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_private.oe_active_tab > a,
.openerp .oe_view_manager table.oe_view_manager_header .oe_custom_filter_tabs .oe_searchview_custom_public.oe_active_tab > a {
    background: #7C7BAD !important;
    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    //border: thin solid #333333;
}
.openerp .oe_view_manager table.oe_view_manager_header .oe_searchview_custom_tabs {
    display: inline;
    padding: 0px 0px;
    right: 5px;
}
.openerp .oe_form_filter .oe_form_required input:not([disabled]):not([readonly]), .openerp .oe_form_filter .oe_form_required select:not([disabled]):not([readonly]), .openerp .oe_form_filter .oe_form_required textarea:not([disabled]):not([readonly]) {
  background-color: #d2d2ff !important;
}
